{margin: 0; padding: 0;}
body{
    font-size: 14px !important;
    line-height: 30px !important;;
    background-color: transparent;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table th,
table td{padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6{margin: 0; padding: 0;}
p{margin: 0; padding: 0}
/*@page { sheet-size: A4-P; }*/
@page {
    margin-top: 0.8in;
    margin-bottom: 0.8in;
    margin-left: 0.8in;
    margin-right: 0.8in;
}